.root {
  display: flex;
  flex-direction: row;
}

.publictoken {
  height: 20px;
  text-align: center;
}

.impersonating {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9800;
  color: white;
  padding: 8px;
}

.sider {
  position: fixed;
  width: 250px;
  z-index: 1;
}

.content {
  width: 100%;
  position: relative;
  background-color: var(--content-background);
}

.contentdrawer {
  padding-left: 250px;
}
